extends layout

block content
  h1 #{h1}
  form(method="POST", action=`/article/edit/${article.id}`)
    #form-group
      label Ttile
      input.form-control(name="title", type="text", value=article.title)
    #form-group
      label Author
      input.form-control(name="author", type="text", value=article.author)
    #form-group
      label Body
      textarea.form-control(name="body")= article.body
    br
    input(type="submit", value="Submit")